extends layout
block contents
    h1.long Hello #{user.name}
    br
    .card.card-small(style="border-radius:5px;box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);")
        h3 Email : #{user.email}
        h3
          a(href="#") Change Password
        h3
            a(href="#") Delete Account