extends layout

block contents
    div.content
        h1= message
        p File not found on the server. Thats all we know here.
        h2 Only option for you
        h3
            a(href="/") Return home
