extends layout

block contents
    div.content
        h1 Welcome to my Articles
        p This is sample website with some text which i am developing to learn many languages like pug node js express etc.


