doctype html
html
    head
        title= title
        script(src="/static/js/pace.js")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" , href="/static/css/style.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/manifest.json")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        link(rel="stylesheet" href="/static/css/pace.css")
        script(src="/static/js/main.js")
        meta(name="theme-color", content="#ffffff")
    body
        a.logo(href='/') Articles
        div.top-nav
            a.top.home(href="/" style="border:none!important;")
                i.fa.fa-home
            a.top.bars(href="#" style="border:none!important;" class="topnav" onclick="menuFix()")
                .container(onclick='iconFix(this)')
                    .bar1
                    .bar2
                    .bar3
            a.top.left(href="#") Link1
            a.top.left(href="#") Link2
            a.top.left(href="#") Link3
            a.top.left(href="#") Link4
            a.top.left(href="#") Link5
            a.top.left(href="#") Link7
            a.top.left(href="/logout") Logout
            a.top.right(href="/register") Sign up
            a.top.right(href="/login") Login
            br
            ul.men
                li
                    a.top.left(href="#") Link1
                li
                    a.top.left(href="#") Link2
                li
                    a.top.left(href="#") Link3
                li
                    a.top.left(href="#") Link4
                li
                    a.top.left(href="#") Link5
                li
                    a.top.left(href="#") Link7
                li
                    a.top.left(href="#") Link8
        div#con
         block contents

         footer(style="text-align:center;background-color:#000;color:#fff;padding-top:32px !important;padding-bottom:32px !important;")
           h1 articles.com
           p
              script copyright=new Date(); update=copyright.getFullYear(); document.write("Copyright "+ update + " Articles Inc LLC All rights reserved.");
           p Terms of Service