extends layout

block contents
    h1 Login
    .card
        form(action='/login', method='post')
            h2 Email:
            input.animate-input.field(type='text', name='username')
            h2 Password:
            input.animate-input.field(type='password', name='password')
            br
            br
            input.button(type='submit', value='Log In')
            a.for(href="/forgot" style="padding-left:130px") Forget Password
