extends layout

block contents
    h1 Login
    form(action='/login', method='post')
        .card
            h2 Username:
            input.animate-input.field(type='text', name='username')
            h2 Password:
            input.animate-input.field(type='password', name='password')
            br
            br
            input.button(type='submit', value='Log In')
