extends layout

block contents
 .card
    form(method="POST")
            h2(style="padding:3px") New Password
            input(type="password" name="password" placeholder="New password" value="" autofocus=true class="animate-input field")
            h2(style="padding:3px") Confirm Password
            input(type="password" name="confirm" placeholder="Confirm password" class="animate-input field" value="")
            br
            br
            input(style="padding:3px" type="submit" value="submit" class="button")
