/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* End extract */
a {
    text-decoration: none !important;
}

body {
    font: 14px "Product", Verdana, sans-serif;
    padding: 6px;
}

div.top-nav {
    width: 100%;
    background-color: black;
    height: 32px;
    transition: all 0.1s ease-out;
    padding-top: 5px;
}

a.top:visited, a.top:active, a.top:link {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin: 10px;
    transition: all 0.1s ease-out;
}

a.top:hover, div.top-nav:hover {
    color: #fff;
    transition: all 0.1s ease-in;
    font-size: 28px;
    border-bottom: 3px solid #ffffff;
    height: 38px;
}

p {
    font-size: larger;
    width: 75%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 4px;
    font-weight: 500;
}

.content {
    padding: 6px;
}

a.logo {
    font-family: test;
    font-size: 46px;
    text-decoration: inherit;
    color: black;
    text-align: center;
    display: block;
}

@font-face {
    font-family: test;
    src: url('/static/fonts/cour.ttf') format('truetype');
}

@font-face {
    font-family: Product;
    src: url('/static/fonts/pro.ttf') format('truetype');
}

.right {
    position: relative;
    float: right;
    bottom: 10px;
    display: inline-block;
}

a.right:hover {
    position: relative;
    bottom: 15px;
    float: right;
}

.bars {
    display: none;
}

@media screen and (max-width: 710px) {
    .left {
        display: none;
    }

    .bars {
        display: inline;

    }

    .home {
        display: none !important;
    }

    p {
        width: 100%
    }
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}