/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

/* End extract */







/*start programming from here*/
a {
    text-decoration: none !important;
}

body {
    font: 14px "Product", Verdana, sans-serif;
}

div.top-nav {
    width: 100%;
    background-color: black;
    height: 34px;
    transition: all 0.1s ease-out;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.top:visited, a.top:active, a.top:link {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin: 10px;
    transition: all 0.1s ease-out;
}

a.top:hover, div.top-nav:hover {
    color: #fff;
    transition: all 0.1s ease-in;
    font-size: 28px;
    border-bottom: 3px solid #ffffff;
    height: 38px;
}

p {
    font-size: larger;
    width: 75%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 4px;
    font-weight: 500;
}

.content {
    padding: 6px;
}

a.logo {
    font-family: test;
    font-size: 46px;
    text-decoration: inherit;
    color: black;
    text-align: center;
    display: block;
}

@font-face {
    font-family: test;
    src: url('/static/fonts/cour.ttf') format('truetype');
}

@font-face {
    font-family: Product;
    src: url('/static/fonts/pro.ttf') format('truetype');
}

.right {
    position: relative;
    float: right;
    bottom: 10px;
    display: inline-block;
}

a.right:hover {
    position: relative;
    bottom: 15px;
    float: right;
}

.bars {
    display: none;
}

ul.men{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

ul.men li {float: left;}

ul.men li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

@media screen and (max-width: 710px) {
    .left {
        display: none;
    }

    .bars {
        display: inline;

    }

    .home {
        display: none !important;
    }

    p {
        width: 100%
    }
    ul.men.responsive {
        position: relative;
        width: 100%;
        top: -15px;
    }

    ul.men.responsive  li {
        float: none;
        display: inline;

    }
    ul.men.responsive li a {
        display: block;
        text-align: center;
        border: none;
        position: static;
        font-size: 30px !important;
    }
    .register{
        padding-left:2% !important;
    }
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg);;
    transform: rotate(-45deg);
    position: absolute;
    top: 70px;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg);;
    transform: rotate(45deg);
    position: absolute;
    top: 70px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px 25px 8px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.animate-input{
    transition:all 0.4s ease-in-out;
}
input.field{
    width:300px;
    height: 28px;
    border-radius: 3px;
    border: 1.5px solid #000;
    padding: 2.5px;
}

input.button{
    background: #000000;
    color: #ffffff;
    border:none !important;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
    height:30px;
    width: 75px;
}
input.button:hover{
    height: 35px;
    width: 85px;
}
input::-webkit-input-placeholder{
    padding-left: 3px;
}

.animate-input:focus{
    width:405px!important
}

@media all and (max-width:470px) {
    .animate-input, .animate-input:focus {
        width: 90% !important;
    }

}

footer > p, div.danger > p,div.success > p{
    width:100%!important;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    color: #f44336;
    width: 40%;
    margin-bottom: 15px;
    padding: 1px 3px;
    font-family: Product !important;
}

.success {
    background-color:  #ddffdd;
    border-left: 6px solid #4CAF50;
    color: #4CAF50;
    width: 33.33%;
    margin-bottom: 15px;
    padding: 1px 3px;
    font-family: Product !important;
}


@media all and (max-width: 585px ) {
  .danger,.success{
      width:85% !important;
  }
  footer{
      padding-top: 5px;
  }
}

@media all and (max-width: 380px ) {
    .for{
        padding-left: 60px !important;
    }
}